* {
    margin: 0;
    padding: 0;
}

body {
    background: #128aa7;
    /**/
}

.header-bg {
    position: relative;
    background: linear-gradient(to bottom, #1dcfe3, #f8fefe);
    height: 175px;
}

.main {
    background: linear-gradient(to bottom, #3ec3d1, #0c739f);
}

/*HEADER*/

.header {
    position: relative;
    width: 1000px;
    height: 175px;
    box-shadow: 0 0 5px #0f6578;
    margin: -4px auto 0;
    border-bottom: 1px solid #128aa7;
    background: #fff;
}

.header p {
    float: right;
    margin: 5px 55px 0 0;
    font-size: 12px;
    color: #5fa5bb;
    text-align: left;
    line-height: 20px;
}

.header p span {
    font-weight: bold;
}

.header ul {
    position: absolute;
    bottom: 23px;
    right: 36px;
    list-style-type: none;
}

.header ul li {
    display: inline-block;
}

.header a {
    font-size: 12px;
    color: #128aa7;
}

.countries {
    position: absolute;
    bottom: 10px;
    right: 166px;
    width: 428px;
    list-style-type: none;
    text-align: justify;
}

.countries li {
    display: inline;
    padding-left: 20px;
    width: 71px;
}
.countries li a {
    font-size: 13px;
    color: #128aa7;
}

.header img {
    padding-top: 11px;
    padding-left: 26px;
}

.beach {
    text-align: center;
}

/*NAVIGATION*/

.navigation {
    width: 1000px;
    height: 30px;
    margin: -5px auto 0;
    border-top: 1px solid #cacbcb;
    background: #353535;
    color: #fff;
    font: 14px arial;
      box-shadow: 0 0 10px #0f6578;
    }

.navigation ul {
    list-style: none;
}

.navigation ul li {
    position: relative;
    height: 30px;
    padding-left: 60px;
    float: left;
    line-height: 30px;
    cursor: pointer;
}

.navigation li:first-child {
    padding-left: 68px;
}

.navigation li a {
    color: #fff;
    text-decoration: none;
}

.navigation .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 50px;
    width: 150px;
    height: 125px;
    background: #303030;
    box-shadow: 0 0 10px #474747;
}

.navigation .subnav li {
    width: 100%;
    height: 21px;
    padding-top: 2px;
    padding-left: 10px;
    line-height: 21px;
}

.navigation li:hover .subnav {
    display: block;
}

/*CONTENT*/

.content {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
      box-shadow: 0 0 5px #0f6578;
}

.left-column {
    width: 210px;
    margin-bottom: -20000px;
    padding-bottom: 20000px;
    float: left;
    background: #edeef0;
}

.central-column {
    width: 580px;
    margin-bottom: -20000px;
    padding-bottom: 20000px;
    float: left;
}

.right-column {
    width: 210px;
    margin-bottom: -20000px;
    padding-bottom: 20000px;
    float: right;
    background: #edeef0;
}

h2 {
    padding: 12px 0;
    color: #424c43;
    font: 18px arial;
    font-weight: bold;
    text-align: center;
}

p {
    color: #424c43;
    font: 13px arial;
    line-height: 25px;
    text-align: center;
}

/*FOOTER*/

.footer p {
    color: #dee7ee;
}
